body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.3rem;
}

body > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    min-height: 18rem;
}

/* ------------ SHAPE-1 ------------ */
.shape-1 {
    background-color: #6890c9;
}

.shape-1 span:nth-child(1) {
    width: 12rem;
    height: 12rem;
    background-color: #293e7a;
    border-radius: 50%;
}

.shape-1 span:nth-child(2) {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: #293e7a;
    z-index: 1;
    border: 1.5rem solid white;
    position: absolute;
}

.shape-1 span:nth-child(3) {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #f02d3f;
    z-index: 2;
    position: absolute;
}

/* ------------ SHAPE-2 ------------ */
.shape-2 {
    background-color: #eb7776;
}

.shape-2 div {
    width: 8rem;
    height: 10rem;
    background-color: #041150;
    border-radius: 4rem 4rem 0 0;
    display: flex;
    align-items: end;
    position: relative;
}

.shape-2 div span {
    width: 100%;
    height: 7rem;
    background-color: #eb7776;
    transform: translateY(0.5rem);
    border-radius: 1rem;
    margin-bottom: -1rem;
}

.shape-2 div span:nth-child(odd) {
    background-color: #041150;
}
.shape-2 div span:last-child {
    background-color: #eb7776;
    position: absolute;
    width: 3rem;
    height: 2rem;
    bottom: 8rem;
    left: 2.5rem;
}

/* ------------ SHAPE-3 ------------ */
.shape-3 {
    background-color: #191919;
    flex-direction: column;
}
.shape-3 div:first-child {
    width: 8rem;
    height: 7rem;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 4rem 4rem 0.5rem 0.5rem;
    position: relative;
}

.shape-3 div:first-child span {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #191919;
    border-radius: 50%;
    margin-top: 2.7rem;
}

.shape-3 div:first-child span:nth-child(2) {
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    bottom: -0.6rem;
    z-index: 1;
}
.shape-3 div:last-child {
    width: 4.5rem;
    height: 4rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0.5rem;
    border-radius: 0 0 1rem 1rem;
}
.shape-3 div:last-child span {
    background-color: #191919;
    width: 0.65rem;
    height: 2.5rem;
}

/* ------------ SHAPE-4 ------------ */
.shape-4 {
    background-color: #0c242a;
}

.shape-4 span:nth-child(1) {
    width: 8rem;
    height: 8rem;
    background-color: #9a833d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: relative;
}
.shape-4 span:nth-child(1)::before,
.shape-4 span:nth-child(1)::after {
    content: "";
    width: 4rem;
    height: 4rem;
    background-color: #9a833d;
    transform: rotate(45deg);
    position: absolute;
}
.shape-4 span:nth-child(1)::before {
    left: -0.8rem;
}
.shape-4 span:nth-child(1)::after {
    right: -0.8rem;
}

.shape-4 span:nth-child(2) {
    width: 7rem;
    height: 7rem;
    background-color: #f6ad4a;
    position: absolute;
    border-radius: 50%;
    border: 0.8rem solid #0e2229;
}
.shape-4 span:nth-child(3) {
    width: 2rem;
    height: 2rem;
    background-color: #373e3f;
    position: absolute;
    border-radius: 50%;
}

/* ------------ SHAPE-5 ------------ */
.shape-5 {
    background-color: #181818;
}

.shape-5 div {
    width: 8rem;
    height: 12rem;
    background-color: #9a833d;
    border-radius: 4rem 4rem 0 0;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    position: relative;
}

.shape-5 div span {
    background-color: #0c242a;
    height: 1rem;
    width: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.shape-5 div span:nth-child(1) {
    width: 2.4rem;
    margin-bottom: 3.3rem;
}
.shape-5 div span:nth-child(2) {
    width: 3.8rem;
    margin-bottom: 2.2rem;
}
.shape-5 div span:nth-child(3) {
    width: 5.4rem;
    margin-bottom: 1.1rem;
}
.shape-5 div span:nth-child(4) {
    width: 6.6rem;
}

/* ------------ SHAPE-6 ------------ */

.shape-6 {
    background-color: #322221;
    flex-direction: column;
}

.shape-6 span:nth-child(1) {
    width: 3rem;
    height: 3rem;
    background-color: #9a833d;
    border-radius: 2rem 2rem 0 0;
    margin-bottom: -1.4rem;
}
.shape-6 span:nth-child(2) {
    width: 8rem;
    height: 5rem;
    background-color: #7e4924;
    border-radius: 4rem 4rem 1rem 1rem;
}
.shape-6 span:nth-child(3) {
    width: 6rem;
    height: 6rem;
    background-color: #4a6a61;
    border-radius: 0 0 2.5rem 2.5rem;
}

/* ------------ SHAPE-7 ------------ */

.shape-7 {
    background-color: #263157;
}

.shape-7 div {
    width: 10rem;
    height: 10rem;
    background-color: #f56762;
    border-radius: 5rem 5rem 3rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: start;
    position: relative;
    overflow: hidden;
}

.shape-7 div span {
    background-color: #e4d9b3;
}
.shape-7 div span:nth-child(1),
.shape-7 div span:nth-child(2) {
    width: 8rem;
    height: 5rem;
    border-radius: 50%;
    margin-top: -2.4rem;
}

.shape-7 div span:nth-child(3),
.shape-7 div span:nth-child(4) {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.shape-7 div span:nth-child(3) {
    margin-left: 3.4rem;
}
.shape-7 div span:nth-child(4) {
    margin-left: -3.4rem;
}
.shape-7 div span:nth-child(5) {
    width: 3rem;
    height: 0.7rem;
    border-radius: 0.2rem;
    position: absolute;
    bottom: 1.5rem;
}

/* ------------ SHAPE-8 ------------ */

.shape-8 {
    background-color: #887436;
}

.shape-8 div:nth-child(2) {
    width: 8rem;
    height: 8rem;
    background-color: #163937;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.shape-8 div:nth-child(2) span {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #163937;
    border: 0.55rem solid #887436;
}
.shape-8 div:nth-child(2)::before {
    content: "";
    width: 80%;
    height: 1.2rem;
    background-color: #163937;
    position: absolute;
    top: 35%;
}

.shape-8 div:nth-child(2)::after {
    content: "";
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: -3rem;
    border-radius: 50%;
    border: 0.8rem solid transparent;
    border-top-color: white;
    border-left-color: white;
    transform: rotate(45deg);
}

.shape-8 div:nth-child(3),
.shape-8 div:nth-child(1) {
    position: relative;
    width: 3rem;
    height: 8rem;
    background-color: #163937;
    border-radius: 50%;
}
.shape-8 div:nth-child(3)::before,
.shape-8 div:nth-child(1)::before {
    content: "";
    width: 82%;
    height: 100%;
    background-color: #0a1f24;
    border-radius: 50%;
    position: absolute;
    right: 0;
}
.shape-8 div:nth-child(3)::before {
    left: 0;
}

.shape-8 div:nth-child(2) span:nth-child(3) {
    width: 1.7rem;
    height: 8rem;
    background-color: #163937;
    position: absolute;
    top: 5rem;
    z-index: 3;
    border: none;
    border-radius: 2rem 2rem 1rem 1rem;
}

/* ------------ SHAPE-9 ------------ */
.shape-9 {
    background-color: #273258;
}

.shape-9 span {
    width: 12rem;
    height: 12rem;
    background-color: #d6cca8;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.shape-9 span::before {
    content: "";
    width: 6rem;
    height: 6rem;
    background-color: #4a6a61;
    position: absolute;
    transform: rotate(45deg);
    bottom: -3rem;
}

.shape-9 span::after {
    content: "";
    width: 8rem;
    height: 8rem;
    background-color: #4a6a61;
    position: absolute;
    transform: rotate(45deg);
    bottom: -3rem;
    right: 0;
}

/* ------------ SHAPE-10 ------------ */

.shape-10 {
    background-color: #907b39;
    flex-direction: column;
}

.shape-10 div:first-child {
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}

.shape-10 div:first-child::after {
    content: "";
    width: 4rem;
    height: 2rem;
    background-color: white;
    position: absolute;
    bottom: 0;
}

.shape-10 div:first-child span {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: white;
}
.shape-10 div:last-child {
    width: 8rem;
    height: 4rem;
    border-radius: 3rem;
    background-color: #ebf14f;
    display: flex;
    gap: 0.4rem;
    justify-content: start;
    position: relative;
    overflow: hidden;
}

.shape-10 div:last-child span {
    background-color: black;
    height: 100%;
    width: 1.4rem;
}

.shape-10 div:last-child span:last-child {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    top: 0.8rem;
}

/* ------------ SHAPE-11 ------------ */
.shape-11 {
    background-color: #212a4b;
}

.shape-11 div:nth-child(2) {
    background-color: #bdb494;
    width: 6rem;
    height: 4rem;
    border-radius: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 0 0.8rem;
}

.shape-11 div:nth-child(2) span {
    background-color: #c74846;
    width: 1.6rem;
    height: 0.25rem;
    border-radius: 5px;
}
.shape-11 div:nth-child(2) span:nth-child(1) {
    margin: 0.4rem 0;
}
.shape-11 div:nth-child(2) span:nth-child(3) {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    align-self: end;
    margin-top: 0.6rem;
    z-index: 1;
}
.shape-11 div:nth-child(1),
.shape-11 div:nth-child(3) {
    width: 3.5rem;
    height: 2.2rem;
    border: 5px solid #bdb494;
    margin-top: -1.8rem;
}
.shape-11 div:nth-child(1) {
    border-radius: 1rem 0 0 1rem;
    margin-right: -1rem;
}

.shape-11 div:nth-child(3) {
    border-radius: 0 1rem 1rem 0;
    margin-left: -1rem;
}

/* ------------ SHAPE-12 ------------ */
.shape-12 {
    background-color: #5074a0;
    flex-direction: column;
}

.shape-12 span:first-child {
    width: 10rem;
    height: 10rem;
    border-left: 7rem solid transparent;
    border-right: 7rem solid transparent;
    border-bottom: 5rem solid #192d5a;
    position: relative;
}

.shape-12 span:first-child::before {
    content: "";
    width: 5rem;
    height: 6px;
    background-color: #eeb95d;
    position: absolute;
    bottom: -5rem;
    left: calc(50% - 2.5rem);
}
.shape-12 span:last-child {
    width: 10rem;
    height: 8rem;
    background-color: #192d5a;
    position: relative;
}

.shape-12 span:last-child::after {
    content: "";
    width: 3rem;
    height: 4rem;
    background-color: #eeb95d;
    position: absolute;
    bottom: 0;
    left: calc(50% - 1.5rem);
}

@media screen and (max-width: 992px) {
    body {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 700px) {
    body {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 500px) {
    body {
        grid-template-columns: 1fr;
    }
}
